/* estilos generales para el index*/
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* estilos para los respiraderos de imagenes*/
.contenedor-fotos {
  display: flex;
  justify-content: space-between;
  gap: 1px;
  margin-top: 30px;
}

.contenedor-fotos img {
  width: 25%;
  height: auto;
}


/* estilos para el navegador de la parte de abajo */
.fila-imagenes {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 40px;
}

.imagen {
width: 500px;
height: 420px; 
transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.imagen:hover {
transform: scale(1.05);
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}