
.cajaActividadesNav2 {
    background-image: url("../img/nav2/\(nav\)\ MAS\ ACTIVIDADES.EDIT.jpg" );
    background-repeat: no-repeat;
    background-size: cover
    
    
}

.cajaCursosNav2 {
    background-image: url("../img/nav2/\(nav\)\ CURSOS.EDIT.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.cajaAventuraNav2 {
    background-image: url("../img/nav2/\(nav\)\ AVENTURA.EDIT.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}