/* general style in sections */

.genSect{
    width: 100%;
    color: white;
    
}

/* text */
.genSect_h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.genSect_p{
    text-align: justify;
    font-family: 'Times New Roman', Times, serif
}

/* img */

